/* ==========================================================================
   Header
   ========================================================================== */
	.container-heder{
		padding-bottom: 10px;
		@include mq($screen-md) {
			height: 55px;
		}
	}

header{
	h1{
		a{
			width: 50px;
			height: 31px;
			background-image: url(compress/img/logo.jpg);
			margin-top: 10px;
		}
	}

	nav{
		.menu{ 
			position: fixed;
		    width: 70%;
		    width: 100%;
		    height: 100%;
		    top: 50px;
		    right: -100%;
		    background-color: #40c3db;
		    overflow-y: scroll;
		    text-align: center;
		    overflow-x: hidden;
		    line-height: 1.4;
		    transition: all .3s ease-in-out;
		    z-index: 100; 
		}
		@include mq($screen-md) {
			.menu{
				display: block; 
				position: inherit;
				background-color: transparent;
			    overflow: initial;
			}
		}
		.menu.active{
			display: block;
		    right: 0;
		    .menus{
				justify-content: center;
				flex-direction: column;
		    }
		}
		.btn-menu{
			font-size: 35px;
		    display: block;
	        z-index: 200;
    		position: relative;

			@include mq($screen-md) {
	    	color: #fff;
		    color: #024078;
		    font-size: 25px;
		    display: block;
		    position: relative;
		    left: 65%;
		    z-index: 2;
		    top: 35px;

		    @include mq($screen-md){
				display: none;
				}
			}
	    }
	    .btn-menu .fa{
	    	color: #000;
	    }
	    .btn-menu.active .fa{
			display: none;
	    }
	    .btn-menu.active:before{
	    	font-family: FontAwesome;
			content: "\f00d";
	    }
	    .menus{
	    	display: flex;
	    	font-family: 'Roboto', sans-serif;
	    	justify-content: center;
			flex-direction: column;
			@include mq($screen-md) {
				flex-direction: initial;
			}
	    	a{
	    		padding: 15px 8px;
	    		&:hover{
	    			color: #fff;
	    			background-color: #40c3db;
	    		}
	    	}
	    	.has-sub{
	    		position: relative;
	    		.submenu{
	    		background-color: #40c3db;
	    		display: none;
				padding: 10px 30px 15px 20px;
				transition: all .3s ease-in;
				z-index: 5;
			    justify-content: flex-end;
				@include mq($screen-md) {
					position: absolute;
					top: 55px;
				}
				ul{
					padding-right: 50px;
				}
	    		a{
	    			font-size: 16px;
	    			padding: 5px 0 0 0;
	    			color: #094154;
	    			&:hover{
	    				color: #fff;
	    				}
	    			}
	    		}
	    	}
	    	.has-sub:hover a.dif{
	    		color: #fff;
	    		background-color: #40c3db;
	    	}
	    	.has-sub:hover .submenu, 
	     	.has-sub.active .submenu {
		        display: flex;
		        transition: all .3s ease-in;
		    }
	    }
    }	
		
	form{	
		@include mq($screen-md) {
			width: 100%;
		}
	    .form-group{
		    background-color: #dedede;
		    width: 100%;
		    @include mq($screen-md) {
		    	width: 80%;
			}
		    margin: 10px 0 0 0;
		    @include mq($screen-md) {
				margin: 10px 0 0 20px;
	    	}
		    height: 35px;
		    position: relative;
		    display: -webkit-box;
			input{
				font-family: 'PT Sans',sans-serif;
				background: 0 0;
				font-size: 14px;
				color: #b5b5b5;
				border: none;
			}
			.form-control:focus{
			    box-shadow: none;
			    background: transparent;
			}
			::-webkit-input-placeholder{
				color: #b5b5b5;
			}
			button{
			    background-color: #40c3db;
				border: none;
				padding-top: 5px;
			    height: 35px;
			}
	    }
	}
	
	.carinho{
	    position: relative;
		.cart-bloc{
	       	background-color: #40c3db;
		    color: #fff;
		    font-size: 14px;
		    padding: 3px 5px;
		    z-index: 3;
		    position: absolute;
		    right: 0;
		    top: 9px;
		    line-height: 12px;
		}
		.cart{
			position: relative;
			right: 8px;
			top: 13px;
			z-index: 1;
		}
	}

}