/* ==========================================================================
   Homepage / Popup
   ========================================================================== */ 

#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	background-color: #000;
	display: none;
	opacity: 0.8;
}
	  
#popup .window {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index: 9999;
	@include mq($screen-md) {
		padding: 20px;
	}
}

#popup #box {
	background-color: #121415; 
	max-width: 340px;
	  @include mq($screen-sm) {
  		max-width: 100%;
	  }
   	@include mq($screen-md) {
 		max-width: 530px;
	    margin-top: -10%;
	}
  	margin: 0 auto;
  	color: #fff;
  	letter-spacing: -1px;
	h2{ 
  		font-size: 1.5rem; 
		margin-bottom: 0;
  	}
  	p{ 
		font-size: 1.5rem;
	   	margin-bottom: 10px;
	   	font-size: 16px;
  	}
  	input{
	    background: transparent;
		border: 1px solid #fff;
	    margin-bottom: 5px;
	    font-size: 16px;
	    width: 100%;
	    padding: 2px 10px;
	    color: #fff;
  	}
  	button{
	    background-color: #40c3db;
	    border: none;
	    color: #fff;
	    padding: 5px 30px;
	    text-transform: uppercase;
	    letter-spacing: -1px;
	    margin-top: 10px;
  	}
  	.box-content{
	  	background: url(compress/img/logo-mortal.jpg) no-repeat 10px 60px;
		padding: 30px 10px 20px 186px;	
		@include mq($screen-md) {
			padding-left: 224px;
			background-position: 25px 30px;
		}
  	}
  	.mensagemSucesso{
		padding: 80px 147px;
		text-align: center;
		display: none;
		@include mq($screen-sm) {
	    	width: 740px;
		}
		@include mq($screen-md) {
			padding: 80px 180px;
			max-width: max-content;
		}  
		span{
		    font-size: 36px;
			color: #40c3db;
		}
	  	.close{
			color: #fff;
			position: absolute;
			top: 10px;
			right: 10px;
	 	 }
  	}
}


/* ==========================================================================
   Homepage / Banner
   ========================================================================== */  

#banner-home{
	text-align: center;
	background-color: #000;
	position: relative;
	overflow-y: hidden; 
	.owl-carousel{
		margin-bottom: 0;
		padding-bottom: 0;
		img{
			display: inline-block;
		}
	}
	.row{
		justify-content: center;
	}
	#paginacao{
	    display: flex;
	    position: absolute;
	    bottom: -17px;
	    z-index: 10;
	    align-items: flex-end;
		.bullet{
			display: inline-block;
			background-color: #40c3db;
			cursor: pointer;
			margin: 0 5px;
			padding: 0 10px;
			text-indent: -9999px;
			height: 10px;
			color: #fff;
		}
		.active{
			.bullet{
				text-indent: 0;
			    height: 55px;
				}
			}	

	}
	.owl-nav{		
	    font-family: FontAwesome;
	    width: 100%;
	    display: flex;
	    margin-top: 0;
	    justify-content: space-between;
	    position: absolute;
	    top: 0;
	    height: 50%;
	    @include mq($screen-md) {
    		height: 100%;
	    }
		.owl-prev,
		.owl-next{
			background: none;
			position: absolute;
			top: 50%;
			@include mq($screen-md) {
		 		top: 35%;
		 	}
		 	margin: 0;
		 	padding: 0 5%;  

		}
		.owl-prev{
			left:0;
		}
		.owl-next{
			right:0;
		}
		.owl-prev:after,
		.owl-next:after{
			font-size: 5.0rem;
			color: #808080;
		}

		.owl-prev:after{
			content: "\f104"; 
		}

		.owl-next:after{
			content: "\f105"; 
		}
	}
}

/* ==========================================================================
   Homepage / Produtos
   ========================================================================== */

.produtos{
	padding-top: 50px;
	@include mq($screen-md) {
		padding-top: 120px;
	}
	.d-flex{
	    justify-content: center;
    	@include mq($screen-md) {
			justify-content: space-between;
		}
		@include mq($screen-sm) {
			justify-content: space-evenly;
		}
	}

	h2{
		text-align: center;
		text-transform: uppercase;
	    font-size: 22px;
	    position: relative;
	    margin-bottom: 40px;
	}
	h2:before{
		content: '';
		display: inline-block;
		width: 50px;
		height: 10px;
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		background-color: #4d4d4d;
		bottom: -15px;
	}
	.produto{
		background-color: #fff;
		padding: 8px 10px 1px 10px;
		max-width: 300px;
		max-height: 400px;
	    text-align: center;
	    margin-bottom: 40px;
	    @include mq($screen-md) {
	    	margin-bottom: 0;
	    }
	    ul{
			display: flex;
			justify-content: space-between;
			text-align: left;
			line-height: 18px;
			padding-top: 10px;
			.nome{
				small{
					display: block;
					color: #bebdbd;
				}
			}
			.preco{
				span{
					padding-top: 5px;
					display: inline-block;
					color: #7e9977
				}
			}
			small{
				font-size: 12px;
			}
	    }
	}
}


