@charset "UTF-8";

@-ms-viewport { width: device-width; }

/*
Dependencies
========================================================================== */

@import "partials/base/mixins";
@import "resetv2";
@import "partials/all";
@import "../../bower_components/bootstrap/scss/bootstrap";

/*
Base Style
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto:400,500,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


@include mq($screen-sm) {
	*:focus { outline: none !important; }
}

body.no-scroll{
	overflow: hidden;
}

li{ list-style: none; }

.text-hidden{
	overflow: hidden;
	display: inline-block;
	text-indent: -9999px;
}

a:active, a:hover {
	outline: 0;
	color: #40c3db;
	transition: all .3s ease-in;
}
h1{ font-size: 1.125rem; }
a{ 
	text-decoration: none !important;
	color: #000;
	display: inline-block;
	transition: all .3s linear;
 }

html {
	min-height: 100%;
	box-sizing: border-box;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

* { box-sizing: inherit; }

/*
Layout
========================================================================== */

body{
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #000;
}

.d-flex{
	justify-content: space-between;
	display: flex;
}

main{
	background-color: #e9e9e9;
	padding-bottom: 100px;
} 
