/*
   Breakpoints
   ========================================================================== */

$screen-xs: 0;
$screen-xs-min: $screen-xs;
$screen-sm: 480px;
$screen-sm-min: $screen-sm;
$screen-md: 979px;
$screen-md-min: $screen-md;
$screen-lg: 980px;
$screen-lg-min: $screen-lg;
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

/*
   Grid
   ========================================================================== */

$container-max-width: 1142.55px;
$grid-columns: 12;
$grid-gutter-width: 14px;
$grid-float-breakpoint: $screen-sm-min;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);
$button-size: 20px;
$button-color: #fff;

.container {
	width: 100%;
	margin: 0 auto;
	max-width: $container-max-width;
}

